* {
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: 1s linear;
  list-style: none;
  scroll-behavior: smooth;


}

body {
  background: #1E2022;
  background-image: url("background-textures.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  display: inline-flex;
}

.logo h1 {
  display: none;
  font-size: 15px;
  border: 2px solid #000;
  padding: 5px;
  margin: auto;

}

.logo a img {
  width: 40px;
  margin: 10px;
}

.logo:hover h1 {
  display: block;
}

.navbar {
  z-index: 1;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(82, 97, 107, 0.1);
  display: flex;
  text-align: center;
  padding: 0rem 2%;
  box-shadow: 1px 1px 5px black;
}





.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f2f2f2;
}


.menu-icon {
  display: none;
  position: absolute;
  right: 0;
  margin: 20px;
}

.navbar ul li a {
  transition: 1s unset;
  color: rgba(255, 255, 255, 0.7);
}

.navbar ul li a:hover {
  transition: 0.1s unset;
  color: #fff;
}

.navbar ul {
  margin-top: 5px;
  display: inline-flex;
}

.navbar ul li {
  margin: 10px;
  width: 90px;
  padding: 10px;
}





/*sub-navigation phone*/
.sub-Phone {
  margin-bottom: -50px;
  display: none;
  width: 10px;
  text-align: center;
  margin-left: -150px;
}

.sub-Phone ul {
  gap: 6rem;
  position: relative;
  margin-bottom: 5px;
}

.sub-Phone ul li img {
  width: 250%;
}

.Phone li:hover .sub-Phone {
  display: block;
}

.sub-Phone ul li img:hover {
  transform: translateY(-5px);

}

.phone-res {
  display: none;

}











.picture1 img {
  width: 100%;
}

.main2 {
  padding: 5px;
  border: 1px solid black;
}

.picture2 img {
  margin: 3% 0.6%;
  border-radius: 15px;
  filter: brightness(0.5);
}

.picture2 img:hover {
  filter: brightness(1);
}


.container {
  display: flex;
  justify-content: space-between;
}

.centered-table {
  margin: 40px auto 0;
  text-align: center;
}

.centered-table td {
  padding: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.empty-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#displayed-image {
  width: 40%;
  display: none;
  border: 2px solid rgba(82, 97, 107);
  box-shadow: 3px 3px 5px black;
}




footer {
  background-color: rgba(33, 37, 41, 0.5);
  color: #fff;
  text-align: center;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section1 {
  font-size: 24px;
  margin: 0 40px 40px 40px;
}

.footer-section1 h2 {
  margin: 20px;
}

.footer-section {
  flex: 1 0 30%;
  margin-bottom: 40px;
}

.footer-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.footer-section ul li a i {
  margin-right: 5px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  color: #a8a8a8;
}

@media only screen and (max-width: 768px) {
  .footer-section h2 {
    font-size: 20px;

  }

  .footer-section ul li {
    /*    display: inline-block;*/
  }

  .footer-section ul li a {
    font-size: 10px;
  }

}




@media only screen and (max-width: 600px) {
  .footer-section {
    flex: 1 0 30%;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;

  }

  .picture1 h1 {
    margin: 90px 40px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .picture1 a {
    margin: 125px 50px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #displayed-image {
    width: 100%;
    display: none;
    border: 2px solid #fff;
  }

}




@media only screen and (max-width: 600px) {
  footer ul h2 {
    font-size: 20px;
    padding: 0px 0px 5% 0px;
  }
}

@media only screen and (max-width: 600px) {
  footer ul h3 {
    padding: 0 50px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  footer ul li a {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  footer ul li a {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .copyright a {
    font-size: 10px;
  }
}


@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
    z-index: 1;
  }

  .navbar .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
  }

  .navbar .menu-icon i {
    font-size: 24px;
    z-index: 1;
  }

  .navbar ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 1%;
    width: 50%;
    background-color: rgba(82, 97, 107, 0.8);
    padding: 10px 0;
    box-shadow: 1px 1px 5px black;

  }

  .navbar ul.active li {
    width: 100%;
    text-align: center;
  }

  .navbar ul.active li a {
    color: rgba(255, 255, 255, 0.7);
    transition: 1s unset;
  }

  .navbar ul.active li a:hover {
    color: #fff;
    transition: 0.1s unset;
  }

  .phone-res {
    display: none;
    margin-top: 70px;
    margin-bottom: -20px;
    width: 85%;
    justify-content: center;
  }

  .phone-res ul {
    display: inline-block;
  }

  .phone-res ul li {
    margin-top: -30px;
  }

  .phone-res ul li img {
    width: 70px;
  }

  .Phone li:hover .phone-res {
    display: flex;
  }

  .phone-res ul li img:hover {
    transform: translateY(-5px);

  }

}